      <table class="table table-striped table-hover table-bordered table-condensed">
        <thead>
          <tr>
             <th class="text-center">难度等级</th>
             <th class="text-center">题目日期</th>
             <th class="text-center">修改题目</th>
             <th class="text-center">查看最近一次答题情况</th>
          </tr>
        </thead>
        <% @questions.each do |question| %>
        <tbody>
          <tr class="tr-color">
            <td class="text-center">
              <%= {"one"=>"一颗心难度","two"=>"两颗心难度","three"=>"三颗心难度"}[question.difficulty]%>
            </td>
            <td class="text-center">
              <%= question.show_date.strftime("%Y-%m-%d")%>
            </td>
            <td class="text-center">
              <% if question.can_edit? %>
                <%=link_to "修改", edit_question_path(question)%>
              <% end %>
            </td>
            <td class="text-center">
              <% if question.learnings.count > 0%>
                <%=link_to "查看模拟答题情况", "/questions/#{question.id}/learnings/#{question.learnings.last.id}"%>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
