      <table class="table table-striped table-hover table-bordered table-condensed">
        <thead>
          <tr>
             <th class="text-center">难度等级</th>
             <th class="text-center">题目日期</th>
             <th class="text-center">模拟做题</th>
          </tr>
        </thead>
        <% @questions.each do |question| %>
        <tbody>
          <tr class="tr-color">
            <td class="text-center">
              <%= {"one"=>"一颗心难度","two"=>"两颗心难度","three"=>"三颗心难度"}[question.difficulty]%>
            </td>
            <td class="text-center">
              <%= question.show_date.strftime("%Y-%m-%d")%>
            </td>
            <td class="text-center">
              <%=link_to "模拟做题", new_question_learning_path(question)%>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
